{
  "tabWidth": 4,
  "useTabs": false,
  "editor.codeActionsOnSave": {
    "source.fixAll.eslint": true
  },
  "spaceBeforeFunctionParen": true,
  "bracketSpacing": true,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always"
}
